.board {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 10px 0 22px;
}

.board__row {
  display: flex;
  gap: 9px;
}

.board__row--shake {
  animation: shake 420ms ease;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  80% {
    transform: translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }
  40%,
  60% {
    transform: translateX(4px);
  }
}
